@use 'sass:map';
@use '../../styles/theme.scss' as theme;

@include theme.reset;
@include theme.focus-visible;

:host {
  display: block;
  width: 300px;
  margin: 1rem;
}

#uofg-card {
  background-color: theme.palette('blue', '50');
  font-size: theme.font-size('body');
}

#uofg-card-img {
  display: flex;
  justify-content: center;
  align-items: center;

  > slot::slotted(img) {
    width: 100%;
    object-fit: cover;
  }
}

#uofg-card-content {
  padding: 1rem;

  & > slot[name='title']::slotted(*) {
    font-size: theme.font-size('h5');
    font-weight: normal;
    margin: 0;
    padding-top: 1rem;
  }

  & > slot[name='subtitle']::slotted(*) {
    font-size: theme.font-size('subtitle');
    font-weight: normal;
    margin: 0;
    padding: 1rem 0;
  }

  & > slot[name='body']::slotted(*) {
    font-size: theme.font-size('body');
    font-weight: normal;
    margin: 0;
  }
}

#uofg-card-footer {
  background-color: theme.palette('blue', '200');
}
