dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.vscode
.npmignore

# Fleet config directories
.fleet

# Test coverage
coverage
*.lcov

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# build output
dist
.vercel

# OS-specific
.DS_Store

tmp
*storybook.log