:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

uofg-header {
  display: block;
  width: 100%;

  * {
    display: none;
  }

  &:defined {
    height: fit-content !important;
  }

  &:not(:defined) {
    height: 5rem !important;
    background-color: black;

    @media screen and (min-width: 1024px) {
      height: 14rem !important;
      background: linear-gradient(
        180deg,
        rgba(221, 221, 221, 1) 0%,
        rgba(221, 221, 221, 1) 28%,
        rgba(0, 0, 0, 1) 28%,
        rgba(0, 0, 0, 1) 100%
      );
    }

    &:has(*),
    &[page-title] {
      height: 10rem !important;
      background: linear-gradient(
        0deg,
        rgba(221, 221, 221, 1) 0%,
        rgba(221, 221, 221, 1) 50%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 100%
      );

      @media screen and (min-width: 1024px) {
        height: 18rem !important;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 22%,
          rgba(0, 0, 0, 1) 22%,
          rgba(0, 0, 0, 1) 78%,
          rgba(221, 221, 221, 1) 78%,
          rgba(221, 221, 221, 1) 100%
        );
      }

      &[variant='dual-brand'] {
        height: 11.5rem !important;

        @media screen and (min-width: 1024px) {
          height: 14rem !important;
        }
      }
    }
  }
}

uofg-footer {
  display: block;
}

uofg-modal {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 1000;
}

uofg-alert {
  display: block;
  max-width: 100rem;
}
