@use 'sass:map';
@use 'theme.scss' as theme;

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

uofg-header {
  display: block;
  width: 100%;
  height: map.get(theme.$header-content-heights, 'main');
  background-color: black;

  * {
    display: none;
  }

  &:has(*) {
    height: map.get(theme.$header-content-heights, 'main') + map.get(theme.$header-content-heights, 'sub');
  }

  @media screen and (min-width: 1024px) {
    height: map.get(theme.$header-content-heights, 'top') + map.get(theme.$header-content-heights, 'main-full');

    &:has(*) {
      height: map.get(theme.$header-content-heights, 'top') + map.get(theme.$header-content-heights, 'main-full') +
        map.get(theme.$header-content-heights, 'sub');
    }
  }
}

uofg-menu {
  display: block;
}

uofg-footer {
  display: block;
}

uofg-modal {
  display: block;
  position: fixed;
  visibility: hidden;
}

uofg-alert {
  display: block;
  max-width: 100rem;
}
