@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  uofg-menu {
    --uofg-menu-animation-type: slide;
    --uofg-menu-animation-duration: 0.2s;
    --uofg-menu-animation-easing: ease-in-out;
  }

  svg.fa-icon {
    display: block;
    height: 1em;
    fill: currentColor;
  }
}
