@use 'sass:string';

// Variables
$breakpoints: (
  'sm': 512px,
  'md': 768px,
  'lg': 1024px,
);

$max-content-width: 1500px;

$header-content-heights: (
  'top': 3.5rem,
  'main': 5rem,
  'main-full': 8rem,
  'sub': 4rem,
);

$palette: (
  'red': #c10631,
  'yellow': #ffc72a,
  'blue': #69a3b9,
  'grey': #dddddd,
);

// Mixins
@mixin focus-visible {
  :focus-visible {
    outline: 2px solid #ffc72a;
    outline-offset: 0.5rem;
  }
}

@mixin reset {
  * {
    box-sizing: border-box;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: unset;

    > li {
      display: contents;
    }
  }
}

@mixin transition($properties) {
  transition-property: string.unquote($properties);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
