@use '../../styles/theme.scss' as theme;

:host {
  visibility: visible !important;
  position: relative !important;
  z-index: 100000 !important;
}

@include theme.focus-visible;
@include theme.reset;

#uofg-modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  @include theme.transition('opacity, visibility');

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

#uofg-modal-dismiss {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2rem;
  line-height: 1;
  /**
  * @prop --uofg-modal-dismiss-color: The color of the dismiss button's icon (Default is #fff)
  */
  color: var(--uofg-modal-dismiss-color, #fff);
  z-index: 2;

  > svg {
    display: block;
    height: 1em;
    fill: currentColor;
  }
}

#uofg-modal-content {
  position: absolute;
  width: fit-content;
  height: fit-content;
  // Fit content is not supported in Firefox AND autoprefixer uses -moz-fit-content instead of -moz-max-content which doesn't work as expected
  width: -moz-max-content;
  height: -moz-max-content;
  padding: 2rem;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  transform: translate(-50%, -50px);
  z-index: 1;
  overflow: auto;
  @include theme.transition('transform');

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &.centered {
    top: 50%;
    transform: translate(-50%, calc(-50% - 50px));
  }

  #uofg-modal.open & {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);

    &.centered {
      transform: translate(-50%, -50%);
    }
  }
}
