@use 'sass:map';
@use 'sass:math';
@use 'sass:string';
@use '../../styles/theme.scss' as theme;

@include theme.focus-visible;
@include theme.reset;

:host {
  height: auto !important;
}

a {
  display: flex;
  align-items: center;
  @include theme.transition('color, background-color');
}

li {
  display: contents;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  @include theme.transition('color, background-color');
}

uofg-menu {
  --uofg-menu-animation-type: slide;
  --uofg-menu-animation-duration: 0.2s;
  --uofg-menu-animation-easing: ease-in-out;
  display: block;
  position: relative;

  > [slot='button'] {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    padding: 0 1rem;

    > svg {
      height: 1em;
      fill: currentColor;
      @include theme.transition('transform');
    }
  }

  > [slot='content'] {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    min-width: 20rem;
    right: 0;
    background-color: white;
    color: black;
    box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12),
      0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  }
}

// Main header container
#uofg-header {
  position: relative;
  width: 100%;
  z-index: 10000;
  font-size: 1.6rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

#uofg-header-top-content-container,
#uofg-header-main-content-container,
#uofg-header-sub-content-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 calc((100vw - theme.$max-content-width) / 2);
}

// Top bar on desktop
#uofg-header-top-content-container {
  height: map.get(theme.$header-content-heights, 'top');
  background-color: white;
  color: black;
  z-index: 3;

  // Links
  > ul {
    display: flex;
    align-items: center;
    height: 100%;

    > li > a {
      height: 100%;
      padding: 0 1rem;

      &:hover,
      &:focus-visible,
      &[aria-expanded='true'] {
        background-color: theme.palette('grey');
      }
    }
  }

  // Dropdown menus
  > uofg-menu {
    height: 100%;

    > [slot='button'] {
      padding: 0 1rem;
      background-color: theme.palette('yellow');
      color: black;
      font-weight: bold;

      &:hover,
      &:focus-visible,
      &[aria-expanded='true'] {
        background-color: #ccc;
        color: black;
      }

      &[aria-expanded='true'] {
        > svg {
          transform: rotate(180deg);
        }
      }
    }

    > [slot='content'] {
      background-color: theme.palette('grey');
      color: black;

      a {
        height: 100%;
        padding: 0.75rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);

        &:hover,
        &:focus-visible {
          background-color: theme.palette('yellow');
        }
      }
    }
  }
}

// Main content container (middle bar on desktop)
#uofg-header-main-content-container {
  height: map.get(theme.$header-content-heights, 'main');
  background-color: black;
  color: white;
  z-index: 2;

  > * {
    height: 100%;
  }

  &.full-height {
    height: map.get(theme.$header-content-heights, 'main-full');
  }
}

// Logo and decorative image
#uofg-header-logo-container {
  display: flex;
  height: 100%;
  margin-right: auto;
  overflow: hidden;

  > * {
    height: 100%;
  }

  svg {
    width: auto;
  }
}

#uofg-header-decorative-img {
  position: absolute;
  left: 0;

  > svg {
    height: 100%;
  }

  @media screen and (max-width: theme.$max-content-width) {
    position: static;
  }
}

#uofg-header-logo {
  $decorative-img-width: math.div(map.get(theme.$header-content-heights, 'main-full') * 3, 4) + 1;
  height: 100%;
  position: relative;
  margin-left: 1rem;
  transition: opacity 0.2s ease-in-out;

  > svg {
    height: 100%;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  @media screen and (min-width: theme.$max-content-width) and (max-width: calc(theme.$max-content-width + $decorative-img-width)) {
    position: absolute;
    left: 0;
    margin-left: $decorative-img-width;
  }
}

// Main content
#uofg-header-full-main-content,
#uofg-header-reduced-main-content {
  display: flex;

  svg {
    height: 1em;
    fill: currentColor;
  }
}

// Desktop main content
#uofg-header-full-main-content {
  > ul {
    display: flex;
    align-items: center;
  }

  > ul > li > a,
  > a,
  > uofg-menu > [slot='button'] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1.5rem;
    font-size: 1.8rem;
    @include theme.transition('color, background-color');

    &:hover,
    &:focus-visible {
      background-color: theme.palette('charcoal');
      color: theme.palette('yellow');
    }
  }

  > uofg-menu {
    > [slot='button'] {
      color: theme.palette('yellow');
    }

    > [slot='content'] {
      color: black;
      background-color: white;
      padding: 2rem;
      width: 35rem;

      > span {
        display: block;
        font-size: 2.4rem;
        font-weight: bold;
        padding: 1rem 0;
      }
    }
  }

  > a {
    color: theme.palette('yellow');
  }
}

// Mobile main content
#uofg-header-reduced-main-content {
  > uofg-menu > [slot='button'],
  > a {
    justify-content: center;
    padding: 0 1.5rem;
    font-size: 2rem;
    border-left: 1px solid rgba(255, 255, 255, 0.15);

    &:hover,
    &:focus-visible,
    &[aria-expanded='true'] {
      background-color: white;
      color: black;
    }
  }

  > uofg-menu {
    position: static;
    height: 100%;

    > [slot='content'] {
      background-color: white;
      color: black;
      width: 100%;
      padding: 1rem 2rem 2rem;

      > span {
        display: block;
        font-size: 2.4rem;
        font-weight: bold;
        padding: 1rem 0;
      }
    }
  }
}

#uofg-header-main-menu {
  > [slot='content'] {
    overflow-y: auto;
    max-height: calc(100vh - map.get(theme.$header-content-heights, 'main'));
  }

  uofg-menu {
    position: relative;

    > [slot='button'] {
      display: flex;
      padding: 0.75rem;
      height: auto;
      width: 100%;
      color: inherit;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      > svg {
        margin-left: auto;
      }

      &:hover,
      &:focus-visible,
      &[aria-expanded='true'] {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &[aria-expanded='true'] {
        > svg {
          transform: rotate(180deg);
        }
      }
    }

    > [slot='content'] {
      position: relative;
      box-shadow: none;
      padding: 0;

      > li > a {
        padding: 0.75rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        @include theme.transition('color, background-color');

        &:hover,
        &:focus-visible {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    &.uofg-header-hello-you-menu {
      > [slot='button'] {
        background-color: theme.palette('yellow');
        color: black;
        font-weight: bold;
      }

      > [slot='content'] {
        background-color: rgba(0, 0, 0, 0.1);
        color: black;
      }
    }
  }

  ul > li > a {
    padding: 0.75rem;
    width: 100%;
    color: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    @include theme.transition('color, background-color');

    &:hover,
    &:focus-visible,
    &[aria-expanded='true'] {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

// Sub page specific bar
#uofg-header-sub-content-container {
  height: map.get(theme.$header-content-heights, 'sub');
  background-color: theme.palette('grey');
  color: black;
  z-index: 1;

  #uofg-header-page-title {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 0 1rem;
    height: 100%;
    font-weight: bold;
  }

  uofg-menu {
    position: relative;
    height: 100%;

    > [slot='button'] {
      color: inherit;

      &:hover,
      &:focus-visible,
      &[aria-expanded='true'] {
        background-color: theme.palette('yellow');
        color: black;
      }
    }

    > [slot='content'] {
      position: absolute;
      background-color: theme.palette('grey');
      color: black;

      > li {
        &:not(:last-child) {
          > a {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
        }

        > a {
          padding: 0.75rem;
          justify-content: flex-start;
        }
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include theme.transition('color, background-color');

    &:hover,
    &:focus-visible {
      background-color: theme.palette('yellow');
      color: black;
    }
  }
}

#uofg-header-full-sub-content,
#uofg-header-reduced-sub-content {
  height: 100%;

  a {
    padding: 0 0.5rem;
  }
}

#uofg-header-full-sub-content {
  height: 100%;

  > ul {
    display: flex;
    align-items: center;
  }

  uofg-menu {
    > [slot='button'] {
      &[aria-expanded='true'] {
        > svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .uofg-header-page-specific {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

#uofg-header-reduced-sub-content {
  > uofg-menu {
    position: static;

    > [slot='button'] {
      font-size: 2rem;
      padding: 0 1.5rem;
    }

    > [slot='content'] {
      background-color: white;
      color: black;
      padding: 2rem;
      overflow-y: auto;
      max-height: calc(
        100vh - map.get(theme.$header-content-heights, 'main') - map.get(theme.$header-content-heights, 'sub')
      );
      width: 100%;

      > span {
        display: block;
        font-size: 2.4rem;
        font-weight: bold;
        padding: 1rem 0;
      }

      a {
        height: auto;
        padding: 1rem;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:hover,
        &:focus-visible {
          background-color: rgba(0, 0, 0, 0.1);
          color: black;
        }
      }

      uofg-menu {
        height: auto;

        > [slot='button'] {
          width: 100%;
          padding: 1rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);

          > svg {
            margin-left: auto;
          }

          &:hover,
          &:focus-visible,
          &[aria-expanded='true'] {
            background-color: rgba(0, 0, 0, 0.2);
            color: black;
          }

          &[aria-expanded='true'] {
            > svg {
              transform: rotate(180deg);
            }
          }
        }

        > [slot='content'] {
          position: static;
          background-color: rgb(0, 0, 0, 0.1);
          box-shadow: none;
        }
      }
    }
  }
}
