:root {
  font-size: 62.5%;
}

$top-content-height: 3.5rem;
$main-content-height: 5rem;
$main-content-height-full: 8rem;
$sub-content-height: 4rem;

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

uofg-header {
  display: block;
  width: 100%;
  height: $main-content-height;
  background-color: black;

  * {
    display: none;
  }

  &:has(*) {
    height: $main-content-height + $sub-content-height;
  }

  @media screen and (min-width: 1024px) {
    height: $top-content-height + $main-content-height-full;

    &:has(*) {
      height: $top-content-height + $main-content-height-full + $sub-content-height;
    }
  }
}

uofg-menu {
  display: block;
}

uofg-footer {
  display: block;
}
