@use '../../styles/theme.scss' as theme;

@include theme.reset;
@include theme.focus-visible;

:host {
  display: block;
  max-width: 100rem;
}

#uofg-alert {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

#uofg-alert-title {
  display: flex;
  align-items: center;
  font-size: 2.25rem;
  padding: 2rem;
  color: white;
  background-color: theme.palette('red');

  > svg {
    margin-right: 1rem;
    fill: currentColor;
    height: 1.5em;
  }
}

#uofg-alert-body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  background-color: white;

  slot[name='subtitle']::slotted(*) {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  slot[name='message']::slotted(*) {
    font-size: 1.6rem;
  }
}

#uofg-alert-footer {
  display: flex;
  padding: 1rem 2rem;
  background-color: theme.palette('grey');
  font-size: 1.4rem;
}
