@use '../../styles/theme.scss' as theme;

@include theme.focus-visible;
@include theme.reset;

$socials: (
  'Twitter': #1da1f2,
  'Facebook': #4267b2,
  'Instagram': #e1306c,
  'Youtube': #f00,
  'LinkedIn': #0077b5,
  'TikTok': #f00,
);

:host {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  font-family: sans-serif;
}

a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px dotted transparent;
  width: fit-content;
  width: -moz-max-content;
  color: inherit;
  white-space: nowrap;
  padding-bottom: 0.2rem;
  @include theme.transition('border-color');

  &:hover,
  &:focus {
    border-color: currentColor;
  }
}

svg {
  fill: currentColor;
  height: 1.6rem;
}

li {
  display: contents;
}

#uofg-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 2rem;
  line-height: 1.2;
}

#uofg-footer-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  max-width: theme.$max-content-width;

  @media (min-width: 570px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 962px) {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    justify-items: center;
    gap: 2rem 2rem;
  }
}

.uofg-footer-content-separator {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: space-between;
}

#uofg-footer-improve-life {
  @include theme.transition('opacity');
  border: 0;

  > svg {
    height: 2.5rem;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

#uofg-footer-social-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: 0;
  gap: 0 0.75rem;

  a {
    @include theme.transition('color');
    border: 0;

    &:hover,
    &:focus {
      @each $social, $color in $socials {
        &[aria-label='#{$social}'] {
          color: $color;
        }
      }

      color: theme.palette('yellow');
    }
  }

  svg {
    height: 2rem;
  }
}

#uofg-footer-links-container {
  display: flex;
  @media (min-width: 570px) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: 962px) {
    grid-row: unset;
    grid-column: unset;
    justify-content: center;
    gap: 0;
  }
}

#uofg-footer-links {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;

  svg {
    color: theme.palette('yellow');
  }

  @media (min-width: 570px) {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  @media (min-width: 962px) {
    gap: 0 8rem;
    width: auto;
  }
}

#uofg-footer-address {
  font-style: normal;
  white-space: nowrap;

  a {
    color: theme.palette('blue', '400');
  }

  @media (min-width: 570px) {
    grid-row: 1;
    grid-column: 2;
  }

  @media (min-width: 962px) {
    grid-row: unset;
    grid-column: unset;
  }
}
